/*
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

Color:
Black: 282828;
Blue: 2a2e78;
Orange: e15d29;
Bg Gray: f9f9f9;
Gray: b5b5b5;
Dark Gray: 2d2f30;
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900|Source+Sans+Pro:200,300,400,600,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css');
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');*/
@import url('//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css');

html, body {color: #303030;font-family: 'Source Sans Pro', sans-serif;font-size: 16px;line-height: 1.5;height: 100%;}
.mCSB_scrollTools {width: 5px;z-index: 99;}
.mCSB_inside>.mCSB_container {margin: 0;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:focus .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {background-color: #2a2e78;border-color: #2a2e78;}

*:focus, *:hover {-webkit-box-shadow: none;box-shadow: none;outline: none;}
p {margin: 0;}
p + p {margin-top: 25px;}
a, input {text-decoration: none;-webkit-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
a:focus, a:hover, input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover, .form-control:focus, .form-control:hover {text-decoration: none;-webkit-box-shadow: none;box-shadow: none;outline: none;}
p a {color: #e15d29;}
p a:focus, p a:hover {color: #2a2e78;}
input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover, .form-control:focus, .form-control:hover {border-color: #000;}
input, select, textarea {-webkit-appearance: none;-moz-appearance: none;appearance: none;resize: none;}
select::-ms-expand {display: none;}
ul {list-style: none;margin: 0;padding: 0;}
section {background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;z-index: 1;}
section::before {bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
img {max-width: 100%;}
h1, h2, h3, h4, h5, h6 {/*color: #282828;*/font-weight: bold;line-height: 1.5;margin: 0;padding: 0;}
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {font-weight: 400;}
h1 {font-size: 36px;font-weight: bold;text-transform: uppercase;}
h1 span {color: #e15d29;font-weight: bold;}
h2 {font-size: 30px;letter-spacing: 0.08rem;}
h2:first-child {margin-top: -10px;}
h2 span {font-size: 16px;letter-spacing: 0;}
h3 {font-size: 20px;font-weight: normal;margin: 25px 0 15px;}
h3:first-child {margin-top: 0;}
h2 + h3, h2 + p, h3 + ul {margin-top: 15px;}
h5 {border-bottom: 1px solid #f9f9f9;font-size: 22px;font-weight: 700;margin: 45px 0px 30px;padding-bottom: 15px;}
svg {position: relative;}
::-webkit-input-placeholder {color: #b5b5b5;}
::-moz-placeholder {color: #b5b5b5;}
:-ms-input-placeholder {color: #b5b5b5;}
:-moz-placeholder {color: #b5b5b5;}

.sectionPadd {padding: 90px 0;}
.title {margin-bottom: 45px;padding-bottom: 15px;position: relative;text-align: center;}
.title span {display: block;}
.title::before {background-color: #e15c2a;bottom: 0;content: "";display: block;height: 2px;left: 0;margin: 0 auto;position: absolute;right: 0;width: 50px;}
figure {background-position: center;background-repeat: no-repeat;background-size: cover;}
.overlayPattern {color: #fff;position: relative;z-index: 1;}
.overlayPattern::before {background-image: url(../images/overlayerPattern.png);background-repeat: repeat;-webkit-background-size: auto;background-size: auto;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
.overlayPattern a {color: #fff;}
.bgGray {background-color: #f9f9f9;}

/* Header Style */
header {background-color: rgba(255, 255, 255, .37);border-bottom: 2px solid transparent;left: 0;padding: 20px 0px;position: fixed;right: 0;top: 0;-webkit-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;transition: all .25s ease-in-out;z-index: 99;}
.fixedHeader header {background-color: #fff;border-color: #e15c2a;padding: 10px 0;}
.fixedHeader .headerContainer li a {color: #2a2e78;}
.fixedHeader .headerContainer li.current-menu-item a, .fixedHeader .headerContainer li a:focus, .fixedHeader .headerContainer li a:hover {color: #e15c2a;}
.headerContainer {display: table;font-size: 18px;table-layout: auto;width: 100%;}
.logoContainer img {max-width: 205px;width: 100%;}
.headerContainer > div {display: table-cell;vertical-align: middle;}
.navContainer {padding-left: 10px;text-align: right;text-shadow: 0px 0px 1px;}
.fixedHeader .navContainer {text-shadow: none;}
.headerContainer li {display: inline-block;position: relative;text-transform: uppercase;}
.headerContainer li + li {margin-left: 30px;}
.headerContainer a {color: #fff;}
.headerContainer li.current-menu-item a, .headerContainer li a:focus, .headerContainer li a:hover {color: #2a2e78;}

/* Inner Header Style */
body.innerPage .headerContainer li a {color: #2a2e78;}
body.innerPage .headerContainer li.current-menu-item a, body.innerPage .headerContainer li a:focus, body.innerPage .headerContainer li a:hover {color: #e15d29;}

/* Footer Style */
footer {background-color: #2d2f30;font-weight: 300;position: relative;z-index: 1;}
footer h2 {color: #fff;}
footer svg, footer svg.pin {fill: #fff;height: 30px;width: 30px;}
footer, footer a {color: #fff;}
footer a:focus, footer a:hover {color: #e15d29;}
.footerBgImg {background-position: center;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;bottom: 0;left: 50%;position: absolute;right: 0;top: 0;z-index: -1;}
.footerBgImg::before {background-color: rgba(0, 0, 0, .8);bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;}
.mainfooter {margin: 0 auto;max-width: 1200px;padding: 85px 0 70px;width: 100%;}
.rightFooter {padding-right: 90px;}
.leftFooter {padding-left: 110px;}
.adressInfo {border-bottom: 1px solid rgba(255, 255, 255, .2);font-size: 21px;line-height: 1.7;margin-bottom: 90px;padding-bottom: 30px;text-shadow: 0px 0px 1px;}
.adressInfo li {display: table;table-layout: auto;width: 100%;}
.adressInfo li + li {margin-top: 55px;}
.adressInfo li > div {display: table-cell;vertical-align: top;}
.adressInfo li > div:first-child {width: 75px;}
.socialLinks ul {display: table;font-size: 24px;table-layout: fixed;text-align: center;width: 100%;}
.socialLinks ul > li {display: table-cell;vertical-align: middle;}
.copyright {margin-top: 75px;text-align: center;text-shadow: 0px 0px 1px;width: 100%;}
.footerForm .form-group + .form-group {margin-top: 20px;}
.footerForm .form-control {color: #fff;}
.siteForm:not(.footerForm) .form-control {border-color: #e7e7e7;}
.siteForm .form-control {border-radius: 4px;-webkit-box-shadow: none;box-shadow: none;height: 60px;}
.siteForm textarea.form-control {height: 130px;padding-bottom: 20px;padding-top: 20px;}
.siteForm .form-control:focus, .siteForm .form-control:hover {border-color: #e15d29;}
.siteForm input[type="submit"], .queryBtn {background-color: #e15d29;border-radius: 4px;font-size: 20px;height: 60px;min-width: 220px;width: auto;}
.siteForm:not(.footerForm) .form-control:not(textarea), .siteForm:not(.footerForm) input[type="submit"] {height: 50px;}
.siteForm:not(.footerForm) input[type="submit"] {min-width: 190px;}
.footerForm ::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.7);}
.footerForm ::-moz-placeholder {color: rgba(255, 255, 255, 0.7);}
.footerForm :-ms-input-placeholder {color: rgba(255, 255, 255, 0.7);}
.footerForm :-moz-placeholder {color: rgba(255, 255, 255, 0.7);}

/* Home Banner Style */
.carousel-inner > .item {background-position: top center;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;}
.bannerContainer {background-color: rgba(0, 0, 0, .47);color: #fff;display: table;font-size: 18px;height: 700px;letter-spacing: 0.06rem;padding-bottom: 30px;table-layout: auto;text-align: center;width: 100%;}
.bannerWrapper {display: table-cell;vertical-align: middle;}
.carousel.slide > .container {bottom: 0;left: 0;position: absolute;right: 0;top: 0;}
.carousel.slide > .container .carousel-control {background: none;bottom: auto;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);width: auto;}
.carousel-control.left {left: -30px;}
.carousel-control.right {right: -30px;}
.bannerWrapper h1 {color: #fff;}

/* Inner Banner Style */
.innerBanner::before {background-color: rgba(0, 0, 0, .64);}
.innerBanner .bannerContainer {background-color: transparent;height: 230px;padding: 0;}
.innerBanner {font-size: 18px;}
.innerBanner a {color: #fff;}
.innerBanner .bannerInner span {padding-left: 5px;}
.innerBanner a:focus, .innerBanner a:hover {color: #e15d29;}

/* Home Page Style */
.searchForm {z-index: 9;}
.searchWrapper {margin: -140px auto 0;max-width: 1200px;position: relative;z-index: 1;}
.searchType li, .propertiesListType li {display: inline-block;}
.searchType li + li, .propertiesListType li + li {margin-left: -4px;}
.propertiesListType li + li {border-left: 1px solid #fff;}
.searchType li a, .propertiesListType li a {display: inline-block;background-color: #2a2e78;color: #fff;min-width: 110px;padding: 12px;text-align: center;text-shadow: 0px 0px 1px;text-transform: uppercase;}
.searchType li a.active, .searchType li a:focus, .searchType li a:hover, .propertiesListType li a.active, .propertiesListType li a:focus, .propertiesListType li a:hover {background-color: #e15d29;}
.formContainer {font-size: 15px;font-weight: 400;background-color: #fff;padding: 15px 30px;}
.dataTab {display: none;}
.dataTab.active {display: block;}
label {font-weight: 300;margin: 0;}
.inputContainer > ul {margin: 0 -15px;}
.inputContainer > ul > li {display: inline-block;margin: 0 -2px;padding: 15px;vertical-align: middle;width: 25%;}
.form-group {margin: 0;/*overflow: hidden;*/position: relative;z-index: 1;}
.form-control {background-color: transparent;border-color: #c5c5c5;border-radius: 0;height: 45px;padding: 0px 25px 0px 15px;}
.form-group .caret {background-image: url(../images/caret.jpg);background-position: center;background-repeat: no-repeat;background-size: contain;border: none;bottom: 0;position: absolute;right: 0;top: 0;width: 17px;height: 100%;z-index: 1;}
[data-role="rangeslider"] {line-height: 1.3;padding: 0 10px;}
.slider.slider-horizontal .slider-track {height: 12px;background: none;box-shadow: none;}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {background-color: #f6f6f6;background-image: none;border: 1px solid #c5c5c5;height: 14px;top: -1px;width: 16px;}
.slider.slider-horizontal {width: 100%;height: 10px;}
.slider-track-low, .slider-track-high, .slider-selection {background-image: none;border-radius: 0;bottom: auto !important;height: 5px !important;top: 50% !important;transform: translateY(-50%);}
.slider-track-low, .slider-track-high {background-color: #2a2e78;}
.slider-selection {background-color: #e15d29;}
input[type="submit"], .queryBtn {background-color: #e15d29;border: 2px solid #e15d29;color: #fff;font-weight: 600;height: 50px;letter-spacing: .08rem;text-transform: uppercase;width: 100%;}
input[type="submit"]:focus, input[type="submit"]:hover, .queryBtn:focus, .queryBtn:hover {background-color: #fff;border-color: #2a2e78;color: #2a2e78;}
.searchWrapper::before, .searchWrapper::after {bottom: 0px;content: "";left: 0;position: absolute;right: 0;top: 120px;z-index: -1;}
.queryBtn {background-color: #e8e8e8;border-color: #e8e8e8;color: #707070;display: inline-block;font-size: 14px;font-weight: normal;height: auto !important;min-width: 140px;padding: 12px 15px 10px;text-align: center;width: auto;}
.queryBtn:focus, .queryBtn:hover {background-color: #e15d29;border-color: #e15d29;color: #fff;}
.searchWrapper::before {box-shadow: 20px 30px 43px #dedede;}
.searchWrapper::after {background-color: #fff;box-shadow: -20px 30px 20px 0 #d8d8d8;opacity: 0.5;}
.featuredPropertyWrapper {-webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, .06);box-shadow: 0px 0px 16px rgba(0, 0, 0, .06);background-color: #fff;margin: 15px 0;}
.proImag figure {padding-bottom: 85%;}
.proInner {color: #b5b5b5;padding: 30px 15px;}
.proInner h4 {font-size: 18px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.proInner h4, .proInner h4 a, strong {color: #282828;font-weight: 600;}
.proInner h4 a:focus, .proInner h4 a:hover {color: #e15d29;}
.proInner svg {fill: #b5b5b5;height: 15px;margin-right: 10px;position: relative;width: 15px;}
.proInner svg.bed {top: 2px;}
.proFooter {display: table;margin-top: 5px;table-layout: auto;width: 100%;}
.proFooter > div {display: table-cell;vertical-align: middle;}
.fatr {text-align: right;}
.fatr li {display: inline-block;vertical-align: middle;}
.fatr li + li {padding-left: 10px;}

.sectionPadd.AgentsList h2 {color: #fff;}
.agent {overflow: hidden;position: relative;}
.agentImg figure {padding-bottom: 125%;width: calc(100% - 0.001rem);}
.agentName, .userInfo {text-decoration: none;-webkit-transition: all .60s ease-in-out;-ms-transition: all .60s ease-in-out;transition: all .60s ease-in-out;}
.agentName {background-color: rgba(0, 0, 0, .3);bottom: 0;left: 0;padding: 15px 30px;position: absolute;right: 0;}
.agentName h4 {font-weight: 600;}
.agentName p {font-size: 14px;}
.userInfo {background-color: rgba(41, 45, 120, .9);bottom: -100%;left: 0;padding: 15px 20px;position: absolute;right: 0;}
.userInfo * {overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;vertical-align: middle;}
.personal {font-size: 18px;border-bottom: 1px solid #fff;padding-bottom: 10px;}
.personal i {margin-right: 15px;padding-left: 2px;}
.social {padding-top: 20px;}
.social li {display: inline-block;font-size: 17px;margin-right: 10px;}
.social li a {border: 1px solid #fff;border-radius: 50%;display: block;height: 34px;padding: 2px 0px;text-align: center;width: 34px;}
.agent a:focus, .agent a:hover {border-color: #e15d29;color: #e15d29;}
.agent:hover .agentName {bottom: -100%;}
.agent:hover .userInfo {bottom: 0;}
.owl-carousel {margin-top: 15px;position: relative;}
.owl-dots {left: 0;margin-top: 50px;/*position: absolute;*/right: 0;text-align: center;}
.owl-dot {display: inline-block;}
.owl-dot + .owl-dot {margin-left: 10px;}
.owl-dot span {background-color: #fff;border-radius: 50%;display: block;height: 10px;width: 10px;}
.owl-dot.active span {background-color: #db5b28;}
.latestPorpImage figure {padding-bottom: 65%;position: relative;}
.latestPorpImage figure > span {background-color: rgba(0, 0, 0, 0.75);bottom: 10px;color: #fff;font-size: 20px;font-weight: bold;left: 10px;padding: 5px 10px 10px;position: absolute;}
.latestPorpImage figure > span > span {display: block;line-height: 1;}
.latestPorpImage figure > span > span:last-child {font-size: 14px;margin-top: 5px;}
svg.pin {fill: #b5b5b5;height: 10px;top: 1px;width: 10px;}
.latestPorpConWrapper p {margin-top: 10px;}
.latestPorpWrapper {border: 8px solid #db5b28;overflow: hidden;}
.latestPorpConWrapper {border-bottom: 1px solid #e5e5e6;padding: 20px 10px 10px;}
.latestPorpFooter {color: #b5b5b5;display: table;table-layout: auto;width: 100%;}
.latestPorpFooter svg {fill: #b5b5b5;height: 14px;margin-right: 5px;width: 14px;}
.latestPorpConWrapper > span {color: #b5b5b5;font-size: 18px;}
.latestPorpFooter > div {display: table-cell;padding: 12px 10px;vertical-align: middle;}
.postTime {text-align: right;}
.postTime > * {display: inline-block;vertical-align: middle;}
.owl-nav {left: 0;position: absolute;right: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.owl-nav > div {background-color: #26296d;background-position: center;background-repeat: no-repeat;-webkit-background-size: 4px 9px;background-size: 4px 9px;color: transparent;height: 40px;position: absolute;text-align: center;top: 50%;text-decoration: none;/*-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);*/-webkit-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;transition: all .25s ease-in-out;width: 40px;}
.owl-prev {background-image: url(../images/sliderleft.png);left: -15px;-webkit-transform: translate(-100%, -50%);-ms-transform: translate(-100%, -50%);transform: translate(-100%, -50%);}
.owl-next {background-image: url(../images/sliderright.png);right: -15px;-webkit-transform: translate(100%, -50%);-ms-transform: translate(100%, -50%);transform: translate(100%, -50%);}
.owl-nav > div:focus, .owl-nav > div:hover {background-color: #db5b28;}
.testimonials {color: #fff;font-family: 'Poppins', sans-serif;font-size: 18px;position: relative;text-align: center;z-index: 1;}
.testimonials::before {background-color: rgba(0, 0, 0, .5);bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
.testimonialWrapper {margin: 0 auto;max-width: 1100px;width: 100%;}
.quote {background-image: url(../images/quote.png);background-position: center;background-repeat: no-repeat;-webkit-background-size: contain;background-size: contain;height: 24px;margin-bottom: 60px;}
.testimonials h3 {font-size: 24px;font-weight: 500;}
.testimonialAvatar figure {border-radius: 50%;height: 95px;margin: 30px auto;width: 95px;}
.testimonialAuther {font-size: 14px;}

/* Inner Page */
body.innerPage header {position: static;/*top: -100%;*/}
body.innerPage.fixedHeader header {position: fixed;/*top: 0%;*/}
.innerPage h3 {color: #282828;}
.innerPage {color: #707070;}
.innerPage section .container > ul li {padding-left: 30px;position: relative;}
.innerPage section .container > ul li::before {background-image: url(../images/check.png);background-position: left;background-repeat: no-repeat;content: "";height: 10px;left: 0;position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);width: 15px;}
.innerPage section .container > ul li + li {margin-top: 25px;}

/* About Us Page */
.aboutInnerContainer {display: table;table-layout: auto;width: 100%;}
.sectionPadd h2 {color: #282828;}
.aboutInnerContainer > div {display: table-cell;vertical-align: top;}
.aboutCon {padding-right: 60px;}
.aboutImg {color: #fff;font-style: italic;letter-spacing: 0.04rem;width: 40.3%;}
.aboutImg figure {height: 0;padding-bottom: 63%;position: relative;z-index: 1;}
.aboutImg figure::before {background-color: rgba(0, 0, 0, .23);bottom: 0;content: '';left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
.aboutImg figure p {bottom: 0;position: absolute;padding: 10px 25px;left: 0;}
.aboutImg figure p span {display: block;}

/* Contact Us Page */
.sectionPadd.contactWrapper {padding: 65px 0px 55px;}
.contactWrapper .container > h2 {font-weight: 600;}
.contactWrapper .container > h2 + p {color: #383838;font-size: 18px;font-weight: 600;margin-bottom: 20px;}
.contactInner h2 {font-size: 27px;margin: 0;}
.siteForm .row > div {padding-bottom: 15px;padding-top: 15px;}
.contactContainer {display: table;table-layout: auto;width: 100%;}
.contactContainer > div {display: table-cell;vertical-align: top;}
.contactInner:first-child {width: 66.2%;}
.contactInner:last-child {padding-left: 65px;width: 33.8%;}
.contactInfor li {display: table;table-layout: auto;width: 100%;}
.contactInfor li + li {margin-top: 20px;}
.contactInfor li > div {display: table-cell;vertical-align: top;}
.contactInfor li > div:first-child {width: 30px;}
.contactInfor {margin-top: 15px;}
.contactInfor, .contactInfor a {color: #707070;}
.contactInfor a:focus, .contactInfor a:hover {color: #e15d29;}
.contactIcon {background-position: center;background-repeat: no-repeat;background-size: contain;display: block;height: 20px;width: 20px;}
.contactIcon.pinicon {background-image: url(../images/pin.png);margin-top: 5px;}
.contactIcon.emailIcon {background-image: url(../images/envolp.png);margin-top: 3px;}
.contactIcon.callIcon {background-image: url(../images/call.png);margin-top: 3px;}
.contactIcon.faxIcon {background-image: url(../images/fax.png);margin-top: 1px;}
.mapWrapper {padding-bottom: 28.125%;width: 100%;}

/* Property Page */
.propertiesList .dataTab > ul > li + li {margin-top: 10px;}
.propertiesList .featuredPropertyWrapper {box-shadow: 0px 0px 16px rgba(0, 0, 0, .06);margin: 0;padding: 10px;}
.propertiesList .featuredPropertyWrapper > div {display: inline-block;margin: 0 -2px;vertical-align: top;position: relative;}
.propertiesList .featuredPropertyWrapper .proImag {width: 24%;}
.propertiesList .featuredPropertyWrapper .proImag figure {padding-bottom: 65%;}
.propertiesList .featuredPropertyWrapper .proInner {padding: 0 20px;width: 76%;}
.propertiesList .featuredPropertyWrapper .proInner h4 {white-space: normal;}
.propertiesList .featuredPropertyWrapper .proInner h4, .propertiesList .featuredPropertyWrapper .proInner h4 a {color: #292d78;}
.propertiesList .featuredPropertyWrapper .proInner h4 a:focus, .propertiesList .featuredPropertyWrapper .proInner h4 a:hover {color: #e15d29;}
.propertiesList .featuredPropertyWrapper .proInner h3 {color: #707070;font-size: 18px;font-weight: 600;margin: 5px 0;}
.propertiesList .proFooter {display: block;}
.propertiesList .proFooter > div {display: inline-block;}
.propertiesList .proFooter .fatr {margin-left: 25px;}
.propertyPrice {text-align: right;}
.propertyPrice span {display: block;}
.propertyPrice span span:first-child {color: #313131;font-size: 17px;font-weight: 600;}
.propertyPrice span span:last-child {color: #707070;font-size: 16px;font-weight: 300;}
.propertyPrice .queryBtn {margin-top: 60px;}
.proInnerContainer > div {display: inline-block;margin: 0 -2px;vertical-align: top;width: calc(100% - 150px);}
.proInnerContainer > div.proPrice {width: 150px;text-align: right;}
.sidebarContainer .inputContainer > ul > li {padding: 7px 0;width: 100%;}
.sidebarContainer [data-role="rangeslider"] {line-height: 1.7;padding: 0 11px;}
.sidebarContainer .slider.slider-horizontal .slider-tick, .sidebarContainer .slider.slider-horizontal .slider-handle {background-color: transparent;background-image: url('../images/sliderbtn.png');background-position: center;background-repeat: no-repeat;border: none;height: 24px;margin-left: -11px;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);width: 22px;}
.sidebarContainer input[type="submit"], .sidebarContainer .form-control {border-radius: 2px;height: 40px;}
.sidebarContainer .form-group .caret {background-image: url(../images/downarrow.png);background-size: 12px;width: 40px;}
.sideInner {background-color: #fff;padding: 20px;}
.formContainer.sideInner ul {margin: 0;}
* + .sideInner {margin-top: 30px;}
.sideInner h4 {color: #000;}
.sideInner h4 + .prostatus {margin-top: 25px;}
.sideInner h4 + form {margin-top: 15px;}
.prostatus > ul {display: table;table-layout: auto;width: 100%;}
.prostatus > ul > li {background-image: url(../images/rightArrow.png);background-position: left 4px;background-repeat: no-repeat;-webkit-background-size: 4px;background-size: 4px;display: table-row;font-size: 15px;line-height: 1;}
.prostatus > ul > li > div {display: table-cell;vertical-align: middle;}
.prostatus > ul > li > div a {color: #666;padding: 0px 10px;}
.prostatus > ul > li > div a:focus, .prostatus > ul > li > div > a:hover {color: #e15d29;}
.prostatus > ul > li > div > a, .prostatus > ul > li > div > span {display: inline-block;margin-bottom: 15px;}
.prostatus > ul > li:last-child > div > a, .prostatus > ul > li:last-child > div > span {margin-bottom: 0px;}
span.proCounter {max-width: 20px;}
.sideInner .owl-carousel figure {color: #fff;position: relative;padding-bottom: 65%;z-index: 1;}
.sideInner .owl-carousel figure span {bottom: 10px;font-size: 18px;left: 10px;position: absolute;z-index: 1;}
.sideInner .owl-dots {margin-top: 10px;position: relative;}
.sideInner .owl-nav {margin-top: -15px;}
.sideInner .owl-nav > div {background-color: #db5b28;height: 25px;opacity: .7;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);width: 25px;}
.sideInner .owl-nav > div:focus, .sideInner .owl-nav > div:hover {opacity: 1;}
.sideInner .owl-prev {left: 10px;}
.sideInner .owl-next {right: 10px;}
.sideInner .owl-dots span {border: 1px solid #db5b28;}
.sideInner .owl-carousel figure::before {background: rgba(0, 0, 0, .5);background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}

/* Property Details Page */
.product__slider-thmb .slick-track {width: 100% !important;}
.propertyDetails .sectionPadd {padding-bottom: 70px;padding-top: 70px;}
.product__slider-main {margin-bottom: 15px;}
.product__slider-thmb .slick-slide {opacity: 0.5;transition: all .3s ease;}
.product__slider-thmb .slick-slide.slick-current, .product__slider-thmb .slick-slide:hover {opacity: 1;}
.product__slider-main img {/*padding-bottom: 40%;*/width: 100%;}
.product__slider-thmb .slide {opacity: 1;width: calc(100% / 7.01) !important;}
.product__slider-thmb .slideImage {border: 4px solid transparent;/*margin: 0 5px;*/opacity: 1;/*padding-bottom: 50%;*/-webkit-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;transition: all .25s ease-in-out;width: 100%;}
.product__slider-thmb .slide:first-child .slideImage {margin-left: 0;}
.product__slider-thmb .slide:last-child .slideImage {margin-right: 0;}
.product__slider-thmb .slide.slick-current .slideImage {border-color: #e15d29;transform: scale(0.94);}
.PropertyHeadInner h3 {color: #282828;font-size: 28px;font-weight: 500;margin: 0;max-width: 1000px;}
.PropertyHead {display: table;margin-bottom: 30px;table-layout: auto;width: 100%;}
.PropertyHead > div {display: table-cell;vertical-align: top;}
.PropertyHeadInner .latestPorpConWrapper {border: none;color: #b5b5b5	;font-size: 17px;font-weight: 600;padding: 0;}
.PropertyHeadInner > span > span {color: #282828;display: block;font-size: 23px;letter-spacing: 0.06rem;text-align: right;}
.PropertyHeadInner > span > span:first-child {font-size: 28px;font-weight: 700;}
.PropertyHeadInner .latestPorpConWrapper svg.pin {height: 13px;top: 0;width: 13px;}
.wrapper {margin-bottom: 50px;}
.propertyContantInner {color: #282828;padding-right: 65px;}
.proDetails {color: #888888;display: table;font-size: 18px;font-weight: 600;padding: 30px;table-layout: auto;width: 100%;}
.proDetails > div {display: table-cell;padding-right: 40px;vertical-align: top;}
.proDetails span {display: block;}
.propertyDetails .sideInner {-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5);box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5);}
.DetailsList li {display: inline-block;margin: 0 -2px;padding: 7px 0;vertical-align: top;width: 25%;}
.PropertyMapWrapper {padding-bottom: 45%;}
input[type="checkbox"] {display: none;}
.checkboxLabel {background-color: #292d78;display: inline-block;height: 20px;position: relative;vertical-align: middle;width: 20px;}
.checkboxLabel span {display: block;background-position: center;background-repeat: no-repeat;background-size: cover;left: 50%;height: 9px;opacity: 0;position: absolute;top: 50%;transform: translate(-50%, -50%);width: 12px;}
.checkboxLabel + span {display: inline-block;margin-left: 5px;vertical-align: middle;}
input:checked + .checkboxLabel span {opacity: 1;}
.formContainer.PropertyContactForm {background-color: #292d78;padding: 45px 30px 30px;}
.formContainer.PropertyContactForm .form-group {margin-bottom: 15px;}
.formContainer.PropertyContactForm form > .form-group:last-of-type {margin-bottom: 0;}
.formContainer.PropertyContactForm .form-control {background-color: #fff;border-radius: 4px;}
.formContainer.PropertyContactForm textarea.form-control {height: 150px;padding-bottom: 10px;padding-top: 10px;}
.formContainer.PropertyContactForm input[type="submit"] {min-width: 85px;width: auto;}

/* Thank You Page */
.thankyou-cover { position: relative; }
.thankyou-cover .tick { border: solid 2px #16bb16; border-radius: 100%; color: #16bb16; display: block; font-size: 65px; height: 160px; line-height: 160px; margin: 0 auto 70px; text-align: center; width: 160px; }
.thankyou-cover .thnkyou-message { background-color: #dff0d8; border: 1px solid #d6e9c6; border-radius: 4px; color: #3c763d; margin-bottom: 20px; padding: 15px; }
.thankyou-cover .thnkyou-message p { font-size: 18px; margin: 0; }

@media only screen and (min-width: 1500px) {
	.container {width: 1470px;}
	.logoContainer img {max-width: 300px;}
}
@media only screen and (max-width: 1499px) {
	html, body {font-size: 14px;}
	p + p {margin-top: 10px;}
	h1 {font-size: 30px;}
	h2 {font-size: 26px;}
	h2 span {font-size: 14px;}
	h3 {font-size: 18px;margin: 20px 0px 10px;}
	h2 + h3 {margin-top: 10px;}
	.sectionPadd {padding: 40px 0px;}
	.title {margin-bottom: 30px;}
	.owl-dots {margin-top: 30px;}
	.footerForm .form-group + .form-group {margin-top: 15px;}
	.siteForm .form-control {height: 45px;}
	.siteForm textarea.form-control {padding-bottom: 15px;padding-top: 15px;}

	/* Home Page Banner */
	.bannerContainer {font-size: 16px;height: 520px;}

	/* Header */

	/* Footer */
	footer svg, footer svg.pin {height: 25px;top: 3px;width: 25px;}
	.mainfooter {padding: 45px 0px 35px;max-width: 960px;}
	.rightFooter {padding-right: 30px;}
	.leftFooter {padding-left: 65px;}
	.adressInfo li + li {margin-top: 30px;}
	.adressInfo li > div:first-child {width: 50px;}
	.adressInfo {font-size: 19px;margin-bottom: 45px;padding-bottom: 20px;}
	.socialLinks ul {font-size: 22px;}
	.copyright {margin-top: 35px;}
	.siteForm input[type="submit"], .queryBtn {font-size: 18px;height: 45px;min-width: 120px;}
	.queryBtn {font-size: 14px;padding: 5px 10px 4px;}

	/* Home Page */
	.proInner {padding: 20px 10px;}
	.latestPorpWrapper {border-width: 5px;}
	.testimonials {font-size: 16px;}
	.testimonialWrapper {max-width: 920px;}
	.testimonials h3 {font-size: 20px;}
	.testimonialAuther {font-size: 12px;}
	.latestPorpImage figure > span {font-size: 18px;padding: 5px 10px 10px;}
	.latestPorpImage figure > span > span:last-child {font-size: 12px;margin-top: 3px;}

	/* Inner Page */
	.innerPage section .container > ul li + li {margin-top: 15px;}

	/* Contact Us Page */
	.contactWrapper .container > h2 + p {font-size: 16px;}
	.contactInner h2 {font-size: 22px;margin-top: 5px;}
	.contactInfor {margin-top: 10px;}
	.contactIcon {height: 15px;width: 15px;}
	.contactIcon.emailIcon {margin-top: 3px;}
	.contactIcon.callIcon {margin-top: 4px;}
	.contactIcon.faxIcon {margin-top: 2px;}

	/* Property Page Page */
	.proInner h4 {font-size: 16px;}
	.propertiesList .featuredPropertyWrapper .proInner h3 {font-size: 16px;}
	.propertyPrice span span:first-child {font-size: 15px;}
	.propertyPrice span span:last-child {font-size: 14px;}
	.propertyPrice .queryBtn {margin-top: 30px;}
	.sideInner h4 + .prostatus {margin-top: 15px;}
	.sideInner h4 + form {margin-top: 5px;}
	.prostatus > ul > li > div > a, .prostatus > ul > li > div > span {margin-bottom: 10px;}

	/* Property Details Page Page */
	.propertyDetails .sectionPadd {padding-bottom: 50px;padding-top: 50px;}
	.proDetails {padding: 20px;}
	.PropertyHeadInner h3 {font-size: 24px;max-width: 900px;}
	.PropertyHeadInner > span > span {font-size: 20px;}
	.PropertyHeadInner > span > span:first-child {font-size: 22px;}
	.proDetails > div {padding-right: 30px;}
}