@font-face { font-family: 'BrandonGrotesque-Black'; src: url('../fonts/brandongrotesque-black.eot?#iefix') format('embedded-opentype'), url('../fonts/brandongrotesque-black.otf') format('opentype'), url('../fonts/brandongrotesque-black.woff') format('woff'), url('../fonts/brandongrotesque-black.ttf') format('truetype'), url('../fonts/brandongrotesque-black.svg#BrandonGrotesque-Black') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BrandonGrotesque-Bold'; src: url('../fonts/brandongrotesque-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/brandongrotesque-bold.otf') format('opentype'), url('../fonts/brandongrotesque-bold.woff') format('woff'), url('../fonts/brandongrotesque-bold.ttf') format('truetype'), url('../fonts/brandongrotesque-bold.svg#BrandonGrotesque-Bold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BrandonGrotesque-Light'; src: url('../fonts/brandongrotesque-light.eot?#iefix') format('embedded-opentype'), url('../fonts/brandongrotesque-light.otf') format('opentype'), url('../fonts/brandongrotesque-light.woff') format('woff'), url('../fonts/brandongrotesque-light.ttf') format('truetype'), url('../fonts/brandongrotesque-light.svg#BrandonGrotesque-Light') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BrandonGrotesque-Medium'; src: url('../fonts/brandongrotesque-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/brandongrotesque-medium.otf') format('opentype'), url('../fonts/brandongrotesque-medium.woff') format('woff'), url('../fonts/brandongrotesque-medium.ttf') format('truetype'), url('../fonts/brandongrotesque-medium.svg#BrandonGrotesque-Medium') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HoratioD-Medi'; src: url('../fonts/horatiod-medi.eot?#iefix') format('embedded-opentype'), url('../fonts/horatiod-medi.woff') format('woff'), url('../fonts/horatiod-medi.ttf') format('truetype'), url('../fonts/horatiod-medi.svg#HoratioD-Medi') format('svg'); font-weight: normal; font-style: normal;
}

* { color: rgba(0, 0, 0, 1.0); margin: 0; max-width: 100%; padding: 0; }

/* Coming Soon */
.coming-soon { background-position: center; background-repeat: no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%; color: rgba(0, 0, 0, 1.0); min-height: 100vh; position: relative; }
.coming-soon::before { bottom: 0; background-color: rgba(216, 216, 216, .75); color: rgba(0, 0, 0, 1.0); content: ''; left: 0; position: absolute; right: 0; top: 0; }
.coming-inner { color: rgba(0, 0, 0, 1.0); left: 0; margin: 0 auto; max-width: 780px; padding: 60px 15px; position: absolute; right: 0; text-align: center; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.coming-inner .logo { margin: 0 auto; max-width: 320px; }
.coming-inner h1, .coming-inner h2 { color: rgba(0, 0, 0, 1.0); margin: 0; padding: 0; text-transform: uppercase; }
.coming-inner h1 {border-bottom: 3px solid rgb(0, 0, 0);color: rgba(0, 0, 0, 1.0);font-family: 'BrandonGrotesque-Bold';font-size: 40px;letter-spacing: .3rem;line-height: 1;padding-bottom: 40px;}
.coming-inner h2 {color: rgba(0, 0, 0, 1.0);font-family: 'Lato', sans-serif;font-size: 24px;font-weight: bold;letter-spacing: 0.12rem;margin: 50px 0 25px;}
.coming-inner h2::before, .coming-inner h2::after { background-color: rgba(0, 0, 0, 1.0); color: rgba(0, 0, 0, 1.0); content: ''; height: 3px; margin: 11px 0px; width: 170px; }
.coming-inner h2::before { float: left; }
.coming-inner h2::after { float: right; }
h3 { color: rgba(0, 0, 0, 1.0);font-family: 'HoratioD-Medi';font-size: 21px;letter-spacing: 0.12rem;line-height: 1.3;margin: 50px 0 0px; text-transform: uppercase;}
.coming-inner p {font-family: 'Lato', sans-serif;font-size: 20px;font-weight: 700;letter-spacing: 0.1rem;margin-top: 30px;}
/* Coming Soon */

/* Coming Soon */
a { color: #000; }
a:focus, a:hover { color: #009345; }
.coming-inner { bottom: 0; height: 100%; padding: 60px 15px 20px; top: 0; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.coming-inner > div { position: absolute; left: 0; right: 0; }
.coming-inner .logo { margin-bottom: 50px; top: 60px; }
.footer { bottom: 20px; }
.boxCon { top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

@media only screen and (max-height: 650px) {
	.coming-inner, .coming-inner > div { position: static; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
}
@media only screen and (max-width: 991px) {
	.coming-inner { max-width: 700px; }
}
@media only screen and (max-width: 767px) {
	.coming-inner .logo { margin-bottom: 30px; max-width: 200px; }
	.coming-inner h1 { font-size: 28px; padding-bottom: 20px; }
	.coming-inner h2 { font-size: 15px; margin-bottom: 15px; }
	.coming-inner h2::before, .coming-inner h2::after { display: block; float: none; width: 100%; }
	.coming-inner h2 { font-size: 14px; margin-top: 30px; }
	h3 {font-size: 14px;}
}